@media only screen and (max-device-width: 800px) {
  .menu-principal ul {
    display: none;
  }
  
  .container-contents {
    width: 100%;
    padding: 1rem 2rem 1rem 3rem;
  }

  .container-labels {
    width: 95%;
  }

  .label-box {
    width: 85%;
  }

  .label__nagivation{
    margin-top: 1rem;
  }

  .container-tracks {
   display: none;
  }

  #scrolldown {
    display: none;
  }

  .rodape {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    margin: 0;
  }

}