@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
}

::selection {
  color: #fff;
  background: #02082A;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;

  z-index: -1;
  font-family: 'Open Sans';
}

.container>img {
  filter: brightness(35%);
}

#tag {
  background-color: #E44C5D;
  padding: 8px 30px;
  color: #fff;
  width: 100px;
  font-size: 55px;
  box-shadow: 0 0 5px #ff2d62, 0 0 5px #eb3a72 inset;
  color: #fff;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(228, 228, 228),
    0 0 82px rgb(247, 247, 247),
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.container-labels {
  z-index: 99;
  color: white;
  height: calc(100vh - 40px);
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.container-tracks {
  z-index: 99;
  color: white;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}


.track-card {
  border: 1px solid white;
  border-radius: 5px;
  background: #000000;
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.track-infos>p, .track-infos>ul {
  margin: auto;
  margin-bottom: 5%;
}

.track-infos>ul {
  list-style-image: url('assets/bullet-dio.png');
  margin-left: 1.5rem;
}

.track-infos>ul>li {
  margin-bottom: 0.5rem;
}

.track-infos a, .rodape>a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.label-box {
  width: 600px;
  height: 60%;
  margin-right: 30px;
}

.label__tag,
.label__title,
.label__nagivation {
  margin-bottom: 30px;
}

.label__nagivation {
  margin-top: 120px;
}

.label__text {
  font-size: 22px;
}

.button {
  color: #db3eb1;
  border: 6px solid #db3eb1;
  border-radius: 15px;
  padding: 15px 25px;
  font-size: 30px;
  font-family: tahoma;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: .5s;
}

.button:hover {
  color: white;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}

.container-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.rodape {    
  padding-bottom: 1rem;
  color: white;
  text-align: center;
  font-size: 12px;
}
