@media (min-width: 576px) {
  .menu-principal ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 1rem;
  }

  .main-title {
    display: flex;
    flex-direction: column;
  }
}


@media (min-width: 768px) {
  .container-contents, .rodape {
    padding: 1rem 4rem;
  }

  .container-labels {
    height: calc(100vh - 120px);
  }

  .label-box {
    width: 50%;
  }

  .track-infos > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1024px) {
  .track-infos > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .rodape {   
    flex-flow: row;
    justify-content: space-between;
    margin-top: 1rem;
  }
}


@media (min-width: 1200px) {
  .main-title {
    font-size: 3rem;
  }

  .track-infos > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (min-width: 1400px) {
  .menu-principal ul,
  .button-share span,
  .button-share i {
    font-size: 1.25rem;
  }

  .button-share {
    padding: .5rem 1.5rem;
  }

  .main-title {
    font-size: 3.75rem;
  }

  #tag, 
  .label__text,
  .track-infos>p, 
  .track-infos>ul {
    font-size: 1.55rem;
  }

  .button {
    font-size: 1.75rem;
    width: 11.75rem;
    height: 3.75rem;
    padding: .55rem .15rem .55rem 1.75rem;
  }

  .button .fa-circle-chevron-right {
    font-size: 3.2rem;
  }

  .track-infos > h2 {
    font-size: 3rem;
  }

  .rodape > span {   
    font-size: 1.35rem;
  }

  .menu-social > ul li {   
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
  }
}