@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('global.css');


body {
  background-image: linear-gradient(#271321, #010932);
}

::selection {
  color: var(--white);
  background: #9F3544;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}

.wrapper .center-line {
  position: absolute;
  width: 4px;
  background: var(--white);
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  animation: forwards show-center-line 800ms 400ms cubic-bezier(.82,.13,.99,.05)
}

@keyframes show-center-line {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.wrapper .row {
  display: flex;
  margin: 10px;
  transform-origin: top;
}

.wrapper .row-1 {
  justify-content: flex-start;
}

.wrapper .row-2 {
  justify-content: flex-end;
}

.wrapper .row section {
  background: var(--white);
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}

.wrapper .row section:has(i)::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: var(--white);
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}

.row-1 section::before {
  right: -7px;
}

.row-2 section::before {
  left: -7px;
}

.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 17px;
  box-shadow: 0 0 0 4px var(--white), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
  opacity: 0;
  animation: show-scroll-icon 300ms forwards cubic-bezier(.26,.53,.74,1.48);
}

@keyframes show-scroll-icon {
  0% {
    opacity: 0;
    transform:translateX(-50%) scale(0.5);
  }     
  100% {
    opacity: 1;
    transform:translateX(-50%) scale(1);
  }
}

.row-1 section .icon {
  top: 15px;
  right: -60px;
}

.row-2 section .icon {
  top: 15px;
  left: -60px;
}

.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row section .details .title {
  font-size: 22px;
  font-weight: 600;
}

.row section p {
  margin: 10px 0 17px 0;
}

.row section .bottom a {
  text-decoration: none;
  background: var(--primary-color);
  color: var(--white);
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}

.row section .bottom a:hover {
  transform: scale(0.97);
}

@media(max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }

  .wrapper .row {
    margin: 30px 0 3px 60px;
  }

  .wrapper .row section {
    width: 100%;
  }

  .row-1 section::before {
    left: -7px;
  }

  .row-1 section .icon {
    left: -60px;
  }
}

@media(max-width: 440px) {

  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }

  .wrapper .row {
    margin: 10px 0;
  }
}

@media (min-width: 1400px) {
  .menu-principal ul,
  .button-share span,
  .button-share i {
    font-size: 1.25rem;
  }

  .button-share {
    padding: .5rem 1.5rem;
  }
}

/* DIO Customization */

.content-header {
  text-align: center;
  color: var(--white);
}

.content-header a {
  color: var(--white);
}