@media only screen and (max-device-width: 800px) {

  #question{
    font-size: 14px;
    padding: 5px 10px;
  }

  .level-content{
    margin-bottom: 40%;
  }

  .level-picture > img{
    height: 150px;
  }

  .rate-point{
    height: 80px;
    width:  80px;
    margin: 5px 5px;
  }

}