@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #000000;
  color: white;
}

.container {
  padding: 10px 5px;
  max-width: 720px;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.level-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;
}

.level-picture {
  display: flex;
  justify-content: center;
}

.rate-point {
  height: 120px;
  width: 120px;
  font-size: 40px;
  color: white;
  box-shadow: none;
  background: #E94D5F;
  font-weight: bolder;
  transform-style: preserve-3d;
  padding: 0;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  position: relative;
}

.rate-point:hover {
  background-color: #fff;
  border-color: transparent;
  cursor: pointer;
  transform: scale(1.075);
}

.level-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}

.level-header>h1 {
  font-size: 2.5rem;
}

.level-content {
  font-size: 2.25rem;
  height: 33px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 15px;
  margin-bottom: 90px;
}

#question {
  color: white;
  font-size: 1.5rem;
}