@import url('./../../global.css');


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;

  z-index: -1;
}

.container-quizz {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1.8rem;
  width: 100%;
  min-height: 94vh;
}

.container>img {
  filter: brightness(35%);
  pointer-events: none;
}

#level-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0 0;
}

#level-header > span {
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: -1rem;
  min-width: 3.5rem;
}

#level-content {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

#question {
  font-size: 1.5rem;
  text-align: center;
}

#level-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
  justify-content: center;
  padding: 0;
}

#level-buttons.hidden {
  display: none;
}

.rate-point {
  min-width: 4rem;
  min-height: 4rem;

  font-size: 1.75rem;
  font-weight: 600;
  color: var(--white);

  border: 0.2rem solid transparent;
  border-radius: 50rem;
  background-image: linear-gradient(#000000E1, #000000E1), radial-gradient(circle at top, var(--primary-color), var(--secondary-color));
  background-origin: border-box;
  background-clip: content-box, border-box;

  transform-style: preserve-3d;
  box-shadow: none;
  padding: 0;
}

.rate-point:hover {
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color)); 
  border: 0.2rem solid var(--white);
  transform: scale(1.075);
  cursor: pointer;
}

#level-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

#level-loader.hidden {
  display: none;
}

.spinner {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: transparent;
  
  border: 5px solid;
  border-radius: 50%;
  border-color: var(--white) transparent transparent transparent;
  animation: spin 1100ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#percentage-bar {
  display: flex;
  width: 85%;
  height: 1.15rem;
  border: .125rem solid var(--gray-600);
  border-radius: 50rem;
  box-shadow: inset 0.01rem 0.07rem 0.2rem 0.001rem var(--dark);
  overflow: hidden;
}

#percentage-bar--filled {
  position: relative; 
  display: inline-block;
  width: 0%;
  height: 100%;
  border: 0.2rem solid transparent;
  border-radius: 50rem;
  overflow: hidden;
  transition: 700ms ease-out;
}

#percentage-bar--filled::after {
  content: '';
  position: absolute;
  width: min(100vw, 720px);
  height: 100%;
  left: 0;
  background: linear-gradient(to left, var(--primary-color), var(--primary-color), var(--secondary-color));
}

#percentage-current {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-500);
  position: relative;
  right: 2.5rem;
}

footer,
footer a {
  font-size: 1rem;
  text-align: center;
  color: #696969;
}